[Unit]
Description=Scuttlebot (SSB) daemon
Wants=network.target
After=network.target

[Service]
User=ssb-server
Group=ssb-server
Type=simple
ExecStart=/bin/ssb-server start
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
